env_vars:
  MONGO_DB_URL: ""
  JWT_SECRET_KEY: ""
  MLFLOW_TRACKING_USERNAME: ""
  MLFLOW_TRACKING_PASSWORD: ""
  MLFLOW_TRACKING_URI: ""
  DAGSHUB_USER_TOKEN: ""
  DOCKERHUB_USERNAME: ""
  DOCKERHUB_TOKEN: "-KmA"
  SMTP_SERVER: "smtp.gmail.com"
  SMTP_PORT: "465"
  SENDER_EMAIL: ""
  SENDER_PASSWORD: ""