- name: Build and run Docker container with Vault secrets and create HPA
  hosts: localhost
  become: false
  vars_files:
    - vars/vault-env.yaml
  vars:
    image_name: my_image
    container_name: my-container
    app_port: 9009
    host_port: 9009
    env_file_dest: "{{ playbook_dir }}/.env"
    hpa_config_file: "{{ playbook_dir }}/hpa.yaml"
    DOCKER_HOST: "unix:///var/run/docker.sock"  

  tasks:
    - name: install pre-requisites
      pip:
        name:
          - kubernetes

    - name: Activate Python environment
      shell: |
        source /home/rajan/0.Projects/SPE-final-project/.e2e_nw_sec/bin/activate
        python3 -m pip show kubernetes
      args:
        executable: /bin/bash

    - name: Copy .env to target location
      ansible.builtin.copy:
        content: "{{ env_vars }}"
        dest: "{{ env_file_dest }}"

    - name: Build Docker image
      community.docker.docker_image:
        name: "{{ image_name }}"
        build:
          path: "{{ playbook_dir }}/.."
        source: build
        docker_host: "{{ DOCKER_HOST }}"  # Specify docker_host explicitly

    - name: Remove existing container if any
      community.docker.docker_container:
        name: "{{ container_name }}"
        state: absent
        force_kill: true

    - name: Apply Kubernetes deployment
      k8s:
        state: present
        src: "{{ playbook_dir }}/deployment.yaml"  # Path to your Kubernetes deployment file
        namespace: default


    - name: Apply HPA configuration
      k8s:
        state: present
        src: "{{ hpa_config_file }}"